@import url("../css/general-sans.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-general-sans: "GeneralSans-Variable", sans-serif;
  --background: #f9fafb;
}

body {
  font-family: var(--font-general-sans);
  background: var(--background);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
